asyncio
aioboto3
aiofiles
boto3
httpx
git+git://github.com/stac-utils/pystac@mah/async
requests
aiobotocore>=2.9.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
